# encoding: utf-8

<div class="footer">

    <div class="container">

      <div class="row">

        <div class="col-md-4 text-center">
          <h3><%= fa_icon 'copyright' %> 2015 Newjobs</h3>
          <div class="linear linear-brown linear-sm"></div>
          <p>جميع حقوق الطبع محفوظة</p>
        </div>

        <div class="col-md-4 text-center footer_mid">
          <h3>اتصل بنا</h3>
          <div class="linear linear-brown linear-sm"></div>
          <h4>New@newjobs.com</h4>
          <h4><span>050-999-1000 </span>: هاتف  </h4>
        </div>

        <div class="col-md-4 text-center">
          <h3>تابعنا</h3>
          <div class="linear linear-brown linear-sm"></div>
          <a class="social_icon social_icon_twitter" href="https://twitter.com">
            <%= fa_stacked_icon "twitter inverse", base: "circle", class: "fa-2x" %>
          </a>
          <a class="social_icon social_icon_facebook" href="https://facebook.com">
            <%= fa_stacked_icon "facebook inverse", base: "circle", class: "fa-2x" %>
          </a>
          <a class="social_icon social_icon_youtube" href="https://youtube.com">
            <%= fa_stacked_icon "youtube inverse", base: "circle", class: "fa-2x" %>
          </a>
        </div>

      </div>



    </div>

</div>